@media (min-width: 1400px) {

    .container, .container-md, .container-sm {
        max-width: 1170px;
    }
}
@media only screen and (min-width:200px) and (max-width:575px){
  

    .wrapper{
        border: 1px solid transparent;
        padding: 20px;
        border-radius: 20px;
        background-color:white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        height: 550px;
        width: 400px;
      }
      .player{
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 1px;
    }
    .track-art {
        margin: 25px;
        height: 150px;
        width: 150px;
        border:2px solid 	#FFFAFA;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        -moz-box-shadow: 0px 6px 5px black;
        -webkit-box-shadow: 0px 6px 5px black;
        box-shadow: 0px 6px 5px black;
        -moz-border-radius:190px;
        -webkit-border-radius:190px;
        border-radius:190px;
        }
        .loader {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

        }

@media  (min-width:700px) and (max-width:1130px){
  
   

    }
 